@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

body {
    background: linear-gradient(0deg, rgba(195,172,208,1) 0%, rgba(255,255,255,1) 100%);

    font-family: 'Lato', sans-serif;
    background-color: #FFFBF5;
    color: #674188;
}

div {
    font-family: 'Lato', sans-serif;
}


.top-bar {
    gap: 2rem;
}
nav {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #F7EFE5;
}

.logoImg {
    width: 70px;
    padding: 0 1rem;
    border-radius: 100%;

}


.background {
    display: grid;
    place-items: center;

    width: 100%;
    height: 80vh;
}

.kanjiBackground {
    
    margin-bottom: 5rem;
    width: 70%;
    height: 30vh;
    background-image: url("images/KanjiBackground.jpg");
    background-size: 100% 100%;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: changeImage 20s ease-in-out infinite;
}


@keyframes changeImage {
    0% {
        background-image: url("images/KanjiBackground.jpg");
    }

  
  

    50% {
        background-image: url("images/KanjiBackground2.jpg");
    }

   

    100% {
        background-image: url("images/KanjiBackground3.jpg");
    }

}


table {
    height: 50%;
    width: 60%;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}


td {
    width: 120px;
}


